<!-- <header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
    </nav>
  </div>
</header>
 -->

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-default" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="top-ten">
                                <div class="activator">
                                    <div class="left">
                                        <span class="small">Top</span>
                                        <span class="small">All</span>
                                        <span class="small">Time</span>
                                    </div>
                                    <div class="right">5</div>
                                </div>
                                <div class="drop-down">
                                    <div class="post-list">
                                        <article>
                                        <figure>
                                            <img src="assets/top1.jpg" alt=""/>
                                            <figcaption>01</figcaption>
                                        </figure>
                                        <div class="text">
                                            <h3><a href="post.html">Helping the elderly is not fun...</a></h3>
                                            <span class="date">25.04</span>
                                        </div>
                                    </article>
                                    <article>
                                        <figure>
                                            <img src="assets/top2.jpg" alt=""/>
                                            <figcaption>02</figcaption>
                                        </figure>
                                        <div class="text">
                                            <h3><a href="post.html">People Cherising New Year's Eve
</a></h3>
                                            <span class="date">25.04</span>
                                        </div>
                                    </article>
                                    <article>
                                        <figure>
                                            <img src="assets/top3.jpg" alt=""/>
                                            <figcaption>03</figcaption>
                                        </figure>
                                        <div class="text">
                                            <h3><a href="post.html">Inappropriate jokes are alway...</a></h3>
                                            <span class="date">23.04</span>
                                        </div>
                                    </article>
                                    <article>
                                        <figure>
                                            <img src="assets/top4.jpg" alt=""/>
                                            <figcaption>04</figcaption>
                                        </figure>
                                        <div class="text">
                                            <h3><a href="post.html">The Law</a></h3>
                                            <span class="date">22.04</span>
                                        </div>
                                    </article>
                                    <article>
                                        <figure>
                                            <img src="assets/top5.jpg" alt=""/>
                                            <figcaption>05</figcaption>
                                        </figure>
                                        <div class="text">
                                            <h3><a href="post.html">Helping the elderly is not fun...</a></h3>
                                            <span class="date">25.04</span>
                                        </div>
                                    </article>
                                    </div>
                                </div>
                            </div>
                            <a class="navbar-brand" href="index.html">
                                <img src="assets/logo.png" alt=""/>
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index2.html">Homepage with 2 right sidebars</a></li>
                                    <li><a href="index3.html">Homepage with big right sidebar</a></li>
                                    <li><a href="index4.html">Homepage big masonry</a></li>
                                    <li><a href="index5.html">Homepage with masonry and sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="category.html">Category page</a></li>
                                    <li><a href="post.html">Single post page</a></li>
                                    <li><a href="profile.html">User profile page</a></li>
                                    <li><a href="settings.html">Settings page</a></li>
                                    <li><a href="widgets.html">Widgets page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Popular</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About Us</a></li>
                                    <li class="has-dropdown">
                                        <a href="#">Contact</a>
                                        <ul>
                                            <li><a href="#">Our People</a></li>
                                            <li class="has-dropdown">
                                                <a href="#">Our Address</a>
                                                <ul>
                                                    <li><a href="#">Google Maps</a></li>
                                                    <li><a href="#">Text Address</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Our Emails</a></li>
                                            <li><a href="#">Job Offerings</a></li>
                                            <li><a href="#">Communication</a></li>
                                            <li><a href="#">Communication</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Shortcodes</a></li>
                                    <li><a href="#">Feeatures</a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                        <div class="right-container">
                            <div class="user-box">
                                <a href="#">
                                    <figure>
                                        <img src="assets/user-box.png" alt=""/>
                                    </figure>
                                    <span class="name">teothemes</span>
                                </a>
                                <div class="drop-down">
                                    <div class="counters-line">
                                        <div class="half"><span class="counter">321k</span><span class="desc">kudos</span></div>
                                        <div class="half"><span class="counter">42</span><span class="desc">posts</span></div>
                                    </div>
                                    <div class="buttons-line">
                                        <a href="#" class="btn btn-primary btn-block custom-button">Post Fun</a>
                                        <a href="settings.html" class="btn btn-primary btn-block custom-button">Profile & Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>